!!!
%html{html_attrs}
  %head
    %title Mirjam de Bruin
    %link{:href => '/bootstrap/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => '/bootstrap/bootstrap-responsive.min.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => '/stylesheets/application.css', :rel => 'stylesheet', :type => 'text/css'}/
    / %link{:href => '/stylesheets/mobile.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => '/favicon.png', :rel => 'shortcut icon', :type => 'image/png'}/
    %meta{:charset => 'utf-8'}/
    %meta{:description => ''}/
    %meta{:author => 'Chris de Bruin'}/
    %meta{:name => "viewport", :content => "width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}/
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}

    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}

  %body
    #wrap
      .container
        = yield
      #push
    #footer
      .container
        %p.muted.credit
          E: mail@mirjamdebruin.nl
