.page-header
  %h2
    %img.img-polaroid{:src=>"images/mirjam.jpg",:width=>70}
    \ Mirjam de Bruin
  .jumbotron
    %hr
    %img{:src=>"/images/logo.jpg"}
%p.lead
  .row-fluid
    .span4
      %h3 Kop 1
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est enim, euismod eu vulputate eget, scelerisque nec risus. Duis quis ante aliquet tortor ultricies iaculis et ac mauris. Mauris velit sapien, aliquam nec semper non, egestas sit amet ligula. In vitae libero mattis urna luctus commodo. Nulla consectetur mollis purus et commodo. Donec sit amet nunc sed ipsum ultricies imperdiet et non sapien.
    .span4
      %h3 Kop 2
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est enim, euismod eu vulputate eget, scelerisque nec risus. Duis quis ante aliquet tortor ultricies iaculis et ac mauris. Mauris velit sapien, aliquam nec semper non, egestas sit amet ligula. In vitae libero mattis urna luctus commodo. Nulla consectetur mollis purus et commodo. Donec sit amet nunc sed ipsum ultricies imperdiet et non sapien.
    .span4
      %h3 Kop 3
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est enim, euismod eu vulputate eget, scelerisque nec risus. Duis quis ante aliquet tortor ultricies iaculis et ac mauris. Mauris velit sapien, aliquam nec semper non, egestas sit amet ligula. In vitae libero mattis urna luctus commodo. Nulla consectetur mollis purus et commodo. Donec sit amet nunc sed ipsum ultricies imperdiet et non sapien.
