.page-header
  .jumbotron
    %img{:src=>"/images/header.jpg",:style=>"padding-bottom:20px;"}
%p.lead
  .row-fluid
    .span8
      %h3 Tekstbureau
      %p
        Freelance eindredacteur, journalist en medialiefhebber met oog
        %br
        voor uw doelgroep. Graag ga ik aan de slag met aansprekende en passende teksten voor uw magazine, weekblad, persbericht, brochure, website, nieuwsbrief en social media. Tarieven en levertijden zijn uiteraard op maat.
    .span4
      %h3 Contact
      %p
        Mirjam de Bruin
        %br
        %img{:src=>"/images/phone_icon.png",:style=>"width:20px;"}
        Tel. 06 47 68 47 68
        %br
        %img{:src=>"/images/email_logo.png",:style=>"width:20px;"}
        %a{ :href=>"mailto:mail@mirjamdebruin.nl"} mail@mirjamdebruin.nl
        %br
        %img{:src=>"/images/linkedin_icon.jpg",:style=>"width:20px;"}
        %a{:href=>"http://nl.linkedin.com/pub/mirjam-de-bruin/2b/8b5/964",:target=>"_blank"} LinkedIn
    / .span4
    /   %h3 &nbsp;
    /   %img.img-polaroid{:src=>"images/mirjam.jpg",:style=>"width:150px"}
