@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  div.container {
    width: 310px;
    padding: 0px 5px 0px 5px;
  }

  div.topbar {
    padding-bottom: 10px;
  }
  div.topbar .brand img {
    height: 30px;
  }
  div.topbar ul li a {
    font-size: 16px;
    margin-top: 5px;
  }

  h1 {
    font-size: 20px;
  }

  div.footer {
    display: none;
  }

  form .clearfix {
    padding-right: 30px;
  }
  form .clearfix label {
    font-size: 15px;
  }
  form ol.inputs-list label {
    font-size: 15px;
  }
  form input[type=text] {
    height: 25px;
    font-size: 18px;
    width: 100%;
  }
  form .actions {
    text-align: center;
    margin-bottom: 0px;
  }
  form .actions .btn {
    width: 250px;
    font-size: 22px;
  }
  form ul.inputs-list li label {
    margin-bottom: 8px;
    font-size: 15px;
  }
  form ul.inputs-list li label input[type=radio] {
    font-size: 15px;
  }
  form ul.inputs-list li label span {
    margin-left: 5px;
    padding-top: 3px;
  }
  form ul.inputs-list li label span.disabled {
    color: #cccccc;
  }
  form .workshop p span.hidden {
    display: none !important;
  }
  form .workshop .choice {
    margin-top: 20px;
  }
  form .workshop .choice select {
    width: 250px;
    height: 32px;
  }

  .registration.alert-message {
    margin-top: 10px;
  }

  table.large_font {
    font-size: 14px;
  }

  .program h1 {
    font-size: 16px;
  }

  .bottom_info {
    display: none;
  }

  .bottom_info_mobile .alert-message {
    width: 260px;
    margin-left: 30px;
    text-align: center;
  }
  .bottom_info_mobile .alert-message h1 {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .bottom_info_mobile .alert-message h2 {
    font-size: 12px;
    line-height: 16px;
  }
  .bottom_info_mobile p {
    margin-left: 30px;
  }

  form.form-poll .actions {
    text-align: center;
  }
  form.form-poll .actions input {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  td.time {
    width: 50px;
  }
}
